<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <div>
      <h3>1) Observe o trecho de código abaixo:</h3>
    </div>
    <div class="question1">
      <div class="pergunta">
        <span>
          int INDICE = 13, SOMA = 0, K = 0;
          enquanto K < INDICE faça
          <div [innerHTML]="questao"></div>
          imprimir(SOMA);
        </span>
      </div>
      <div class="resposta">
        <div>
          Ao final do processamento, qual será o valor da variável SOMA?
        </div>
        <div class="res">
         Resultado: {{soma}};
        </div>
      </div>
    </div>
  </main>
</body>
</html>