input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
}

main {
  border: 1px solid #835afd;;
  border-image-slice: 1;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px 20px 10px 20px;
  .resultado {
    display: flex;
    button {
      margin: 0 20px;
      height: 35px;
    }
    span {
      align-self: center;
      font-weight: 400;
    }
  }
}
