<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="content">
  <main>
      <header>
        <img src="../../../assets/logo.png" alt="TargetSistemas">
        <h1>
          Teste Desenvolvedor de Sistemas  da Target Sistemas 
        </h1>
      </header>
    <section>
      <app-first-question></app-first-question>
      <app-second-question></app-second-question>
      <app-third-question></app-third-question>
      <app-fourth-question></app-fourth-question>
      <app-fifth-question></app-fifth-question>
    </section>
  </main>
</body>
</html>